
PIM-III/.vs/TrabalhoNP2/v16/.suo
PIM-III/TrabalhoNP2/obj/Debug/netcoreapp3.1/TrabalhoNP2.csproj.AssemblyReference.cache
PIM-III/TrabalhoNP2/obj/Debug/netcoreapp3.1/TrabalhoNP2.pdb
PIM-III/TrabalhoNP2/obj/Debug/netcoreapp3.1/TrabalhoNP2.dll
PIM-III/TrabalhoNP2/bin/Debug/netcoreapp3.1/TrabalhoNP2.dll
PIM-III/.vs/TrabalhoNP2/v16/.suo
PIM-III/.vs/TrabalhoNP2/DesignTimeBuild/.dtbcache.v2
PIM-III/TrabalhoNP2/bin/Debug/netcoreapp3.1/TrabalhoNP2.pdb
